---
locations:
  - "!create_or_update:name": "{{ site_name }}"
    status__name: "Active"
    location_type__name: "Site"
    parent__name: "{{ region.name }}"
    prefixes:
      - "!create_or_update:prefix": "{{ branch_supernet }}"
        type: "container"
        role__name: "Branch:Supernet"
        status__name: "Active"
      - "!create_or_update:prefix": "{{ branch_supernet | network_offset('0.0.0.0/26') }}"
        type: "pool"
        role__name: "Branch:Loopback"
        status__name: "Active"
        "!ref": "container_loopback"

      - "!create_or_update:prefix": "{{ branch_supernet | network_offset('0.0.0.64/26') }}"
        type: "container"
        role__name: "Branch:L3Link"
        status__name: "Active"
      {% for link in range(1,5) %}
      - "!create_or_update:prefix": "{{ branch_supernet | network_offset('0.0.0.' ~ (64 + link * 4) ~ '/30') }}"
        type: "network"
        role__name: "Branch:L3Link"
        status__name: "Active"
        "!ref": "l3link-{{ link }}"
      {% endfor %}

      - "!create_or_update:prefix": "{{ branch_supernet | network_offset('0.0.1.0/24') }}"
        type: "network"
        role__name: "Branch:LAN"
        status__name: "Active"
        "!ref": "lan_data"
      - "!create_or_update:prefix": "{{ branch_supernet | network_offset('0.0.2.0/24') }}"
        type: "network"
        role__name: "Branch:LAN"
        status__name: "Active"
        "!ref": "lan_voice"

    devices:
    # ----- Routers -----
    {% for rtr in range(1, 3) %}
      - "!create_or_update:name": "{{ site_name }}-RTR{{ rtr }}"
        status__name: "Active"
        device_type__model: "Dummy"
        role__name: "Router"
        platform__name: "Arista EOS"
        "!ref": "{{ site_name }}-RTR{{ rtr }}"
        interfaces:
          - "!create_or_update:name": "eth8"
            type: "1000base-t"
            description: "Uplink to backbone"
            status__name: "Active"
            "!ref": "{{ site_name }}-RTR{{ rtr }}:eth8"
          {% for port in range(1, 3) %}
          - "!create_or_update:name": "eth{{ port }}"
            type: "1000base-t"
            description: "Downlink to {{ site_name }}-SW{{ port }}"
            status__name: "Active"
            "!ref": "{{ site_name }}-RTR{{ rtr }}:eth{{ port }}"
          {% endfor %}
    {% endfor %}

    # ----- Switches -----
    {% for sw in range(1, 3) %}
      - "!create_or_update:name": "{{ site_name }}-SW{{ sw }}"
        status__name: "Active"
        device_type__model: "Dummy"
        role__name: "Switch"
        platform__name: "Arista EOS"
        "!ref": "{{ site_name }}-SW{{ sw }}"
        interfaces:
        {% for port in range(1, 3) %}
          - "!create_or_update:name": "eth{{ port }}"
            type: "1000base-t"
            description: "Uplink to RTR{{ port }}"
            status__name: "Active"
            "!connect_cable":
              to: "!ref:{{ site_name }}-RTR{{ port }}:eth{{ sw }}"
              status__name: "Connected"
        {% endfor %}
    {% endfor %}

dynamic_groups:
  - "!create_or_update:name": "{{ site_name }}"
    "description": "Dynamic Group for the devices in location {{ site_name }}"
    content_type:
      "!get:model": "device"
      "!get:app_label": "dcim"
    filter: {"location": ["{{ site_name }}"]} 
    
circuits:
  {% for i in range(1, 3) %}
  - "!create_or_update:cid": "{{ site_name }}-CKT-{{ i }}"
    status__name: "Active"
    provider__name: "NTC"
    circuit_type__name: "Ethernet"
    circuit_terminations:
      - "!create_or_update:term_side": "A"
        location__name: "{{ site_name }}"
      - "!create_or_update:term_side": "Z"
        provider_network__name: "NTC-WAN"
  {% endfor %}
