---
locations:
  - name: "{{ site_name }}"
    status__name: "Staging"
    location_type__name: "Site"
    parent__name: "{{ region.name }}"
    prefixes:
      - prefix: "{{ site_prefix }}"
        status__name: "Reserved"
    devices:
      - name: "{{ site_name }}-LR0"
        status__name: "Planned"
        device_type__model: "Dummy"
        role__name: "Router"
        platform__name: "Arista EOS"
        "!ref": "{{ site_name }}-LR0"
        interfaces:
          - name: "eth1"
            type: "1000base-t"
            description: "Uplink to backbone"
            status__name: "Planned"
            "!ref": "{{ site_name }}-LR0:eth1"
      - name: "{{ site_name }}-LR1"
        status__name: "Planned"
        device_type__model: "Dummy"
        role__name: "Router"
        platform__name: "Arista EOS"
        "!ref": "{{ site_name }}-LR1"
        interfaces:
          - name: "eth1"
            type: "1000base-t"
            description: "Uplink to backbone"
            status__name: "Planned"
            "!connect_cable":
                status__name: "Planned"
                to:
                    device: "!ref:{{ site_name }}-LR0"
                    name: "!ref:{{ site_name }}-LR0:eth1"

dynamic_groups:
  - "!create_or_update:name": "{{ site_name }}"
    "description": "Dynamic Group for the devices in location {{ site_name }}"
    content_type:
      "!get:model": "device"
      "!get:app_label": "dcim"
    filter: {"location": ["{{ site_name }}"]} 
    
circuits:
  {% for i in range(2) %}
  - cid: "{{ site_name }}-CKT-{{ i }}"
    status__name: "Planned"
    provider__name: "NTC"
    circuit_type__name: "Ethernet"
    circuit_terminations:
      - term_side: "A"
        location__name: "{{ site_name }}"
      - term_side: "Z"
        provider_network__name: "NTC-WAN"
  {% endfor %}
