{% set container_loopback = branch_supernet | network_offset('0.0.0.0/26') %}
{% set container_l3link = branch_supernet | network_offset('0.0.0.64/26') %}
{% set l3link = {} %}
{% for link in range(4) %}
{%   set link_offset = '0.0.0.' ~ (link * 4) ~ '/30' %}
{%   set link_network = container_l3link | network_offset(link_offset) %}
{%   set _ = l3link.update({link: link_network}) %}
{% endfor %}
{% set lan_data = branch_supernet | network_offset('0.0.1.0/24') %}
{% set lan_voice = branch_supernet | network_offset('0.0.2.0/24') %}

---
ip_address_assignments:
# ----- LOOPBACKS -----
{% for rtr in range(2) %}
  - "!create_or_update:ip_address": "!ref:loopback-{{ rtr }}"
    "!create_or_update:interface": "!ref:{{ site_name }}-RTR{{ rtr + 1 }}:lo0"
{% endfor %}
