{% for interface in interfaces %}
interface {{ interface["name"] }}
{% if 'Loop' in interface["name"] %}
{% include "./gc_templates/eos/_loopback.j2" %}
!
{% elif 'eth' in interface["name"] %}
{% include "./gc_templates/eos/_physical.j2" %}
!
{% endif %}
{% endfor %}
